body{
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1{
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  color: #66BFBF;
}
h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight:normal;
  padding-bottom: 10px;
}
h3{
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

p{
    line-height: 2;
}

hr{
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margin:100px auto;
}
a{
  color: #11999E;
  margin:10px 20px;
  text-decoration: none;
}

a:hover{
  color:#EAF6F6;
}
.top-container{
  background-color: #F0F8FF;
  position: relative;
  padding-top: 100px;
}
.skill-row{
  width:50%;
  margin:100px auto;
  text-align: left;
}
.code{
  width: 25%;
  float: left;
  margin-right: 30px;
}
.middle-container{
  margin: 100px 0;
}

.bottom-container{
  margin:100px 0;
  padding: 50px 0 20px;
  background-color: #66BFBF;
}

.bottom-cloud{
  position: absolute;
  right: 300px;
  top:50px
}
.top-cloud{
  position: absolute;
  left:300px;
  bottom: 300px;
}

.info{
  width: 30%;
  margin:auto;
}
.contact{
  width: 40%;
  margin: 40px auto;
}
.copyright{
  color:#EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}
